# Application settings
LEADERBOARD_APP_NAME=Real-Time Leaderboard API
LEADERBOARD_REDIS_URL=redis://localhost:6379/0
LEADERBOARD_REDIS_LEADERBOARD_CHANNEL=leaderboard:updates
LEADERBOARD_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/realtime_leaderboard

# Leaderboard settings
LEADERBOARD_LEADERBOARD_SIZE=10
